@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Курсовая работа Капиноса Даниила</h1>
    <p class="lead">На этом сатйе курсовой проект, по всем вопросам пишите в телеграм overlordhatiman</p>
</div>